body {
    font-family: "Comic Sans MS", "Cartoonist Hand", Chinacat;
    color: #454545;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
    font-size: 32px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #2F4F79;
}

li:hover { 
    transform: scale(1.2);
} 

a{
    text-decoration: none;
    color: #2F4F79;
}

#wrapper {
    text-align: center;
    margin-top: 2%;
}

.content {
    min-width: 250px;
    width: 30%;
    display: inline-block;
    margin-bottom: 2%;
}

@media only screen and (max-device-width: 480px) {
    .content {
        width: 100%;
    }
}


.header{
    text-align: center;
}

.image-cropper {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.profile-pic {
  width: 200px;
  height: 200px;
}